.form__wrapp {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.form__wrapp label {
  font-weight: 800;
  margin-bottom: 10px;
}

.form__wrapp input {
  height: 30px;
  margin-bottom: 10px;
}
